.HeaderCard{
    width: 84.25rem;
    margin-left: -12px;
    height: 5.688rem;
    margin-top: -2.313rem;
    box-shadow: -1.063rem -1.813rem 5.25rem black;
}

.Img-NuKenzie {
    margin-left: 18.75rem;
    margin-bottom: -2.063rem;
}